:root{
--DarkCyan: hsl(158, 36%, 37%);
--Cream: hsl(30, 38%, 92%);
--VeryDarkBlue: hsl(212, 21%, 14%);
--DarkGrayishBlue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--Cream);
    display: grid;
    place-items: center;
}
.main-container{
    display: grid;
    grid-template: 220px 360px / 21rem;
    background-color: white;
    border-radius: 15px;
}
.main-img-mobile{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.info-container{
    padding: 1.4rem;
    display: grid;
    grid-template: 66% 18% 18%/ 100%;
}
.text-container p{
    font-size: 14px;
    color: var(--DarkGrayishBlue);
}
.text-container h1{
    margin: 0;
    font-size: 28px;
    margin-bottom: 1rem;
}
.text-title{
    letter-spacing: 6px;
    margin-top: 0;
    margin-bottom: 0.4rem;
}
.text-description{
    line-height: 1.5;
}
.price-container{
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
}
.price-container h1{
    color: var(--DarkCyan);
    font-family: 'Fraunces', serif;
    margin-right: 1rem;
}
.price-container p{
    color: var(--DarkGrayishBlue);
    font-size: 14px;
    text-decoration: line-through;
}
.ca-button{
    width: 100%;
    height: 2.8rem;
    background-color: var(--DarkCyan);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}
.ca-button img{
    height: 18px;
    width: 18px;
}
.ca-button p{
    font-size: 14px;
    color: white;
}
.ca-button:hover{
    background-color: hsl(158, 36%, 24%);
    cursor: pointer;
}
@media (min-width: 1440px){
    .main-container{
        display: grid;
        grid-template: 460px / 300px 300px;
        background-color: white;
        border-radius: 15px;
    }
    .main-img-mobile{
        content: url("./images/image-product-desktop.jpg");
        border-radius: 15px 0 0 15px;
    }
    .text-title{
        margin-bottom: 1.4rem;
    }
    .text-container h1{
        font-size: 33px;
    }
    .text-description{
        line-height: 1.8;
        font-size: 16px;
    }
    .price-container{
        align-self: center;
        margin-top: 1.8rem;
    }
    .ca-button{
        place-self: center;
    }
}